## <p style="color:black ; font-size:34px; font-family: Algerian ; text-align:center;">Lab Title: EE:271 "OOP & Data Structures"

<p style="color:blue; font-size:28px; font-family:sansirf; text-align:center;">Lab 3: List, Tuple, and Dictionary    </p>

<p style="color:blue; font-size:25px; font-family: sansirf; text-align:left;">Lab Task: </p>

<p style="color:red; font-size:25px; font-family: sansirf; text-align:left;">List:</p>

In [1]:
integers = [3, -5, 12, 0, 7]
print("List of 5 Integers:", integers)

List of 5 Integers: [3, -5, 12, 0, 7]

In [2]:
student = ["rehan", 518, 3.27, [3.6, 3.7, 4.0, 3.8]]
print("Student Details:", student)

Student Details: ['rehan', 518, 3.27, [3.6, 3.7, 4.0, 3.8]]

In [3]:
print("Student's CGPA:", student[2])

Student's CGPA: 3.27

In [4]:
print("List Elements:")
index = 0
while index < len(student):
    print(student[index])
    index += 1

List Elements:
rehan
518
3.27
[3.6, 3.7, 4.0, 3.8]

In [5]:
gpas = student[3]
print("Last Semester GPA:", gpas[-1])
print("Last Semester GPA:", gpas[-2])
print("Last Semester GPA:", gpas[-3])
print("Last Semester GPA:", gpas[-4])

Last Semester GPA: 3.8
Last Semester GPA: 4.0
Last Semester GPA: 3.7
Last Semester GPA: 3.6

In [6]:
first_20_integers = list(range(20))
print("First 20 Integers:", first_20_integers)

First 20 Integers: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [7]:
odd_integers_20_to_40 = list(range(21, 40, 2))
print("Odd Integers from 20 to 40:", odd_integers_20_to_40)

Odd Integers from 20 to 40: [21, 23, 25, 27, 29, 31, 33, 35, 37, 39]

In [8]:
students = ["bilal", "rehan", "sudais", "waleed", "jamal"]
is_present = "kamil" not in students
is_not_present = "usman" not in students
print("Is 'jalal' in the list?", is_present)
print("Is 'asim' not in the list?", is_not_present)

Is 'jalal' in the list? True
Is 'asim' not in the list? True

In [9]:
print("All Students:")
for student in students:
    print(student)

All Students:
bilal
rehan
sudais
waleed
jamal

In [10]:
print("Student List Slices:")
print("Students[1:3]:", students[1:3])
print("Students[2:4]:", students[2:4])

Student List Slices:
Students[1:3]: ['rehan', 'sudais']
Students[2:4]: ['sudais', 'waleed']

In [9]:
my_list = [1, 2, 3]
my_list.append(4)          
my_list.extend([5, 6])     
my_list.insert(1, 1.5)    
my_list.remove(2)        
popped_item = my_list.pop()  
print("List after mutations:", my_list)
print("Popped item:", popped_item)

List after mutations: [1, 1.5, 3, 4, 5]
Popped item: 6

In [10]:
x = ["a", ["bb", ["ccc", "ddd"], "ee", "ff"], "g", ["hh", "ii"], "j"]

print("Elements in Nested List:")
print(x[0])  
print(x[1][0])  
print(x[1][1][0])  
print(x[1][1][1])  
print(x[1][2])  
print(x[1][3])  
print(x[2])  
print(x[3][0])  
print(x[3][1])  
print(x[4])

Elements in Nested List:
a
bb
ccc
ddd
ee
ff
g
hh
ii
j

<p style="color:blue; font-size:25px; font-family: sansirf; text-align:left;">Tuple</p>

In [40]:
letters = ('a', 'b', 'c', 'd', 'e')
print("Tuple containing first five letters:", letters)

Tuple containing first five letters: ('a', 'b', 'c', 'd', 'e')

In [41]:
third_element = letters[2]  
last_element = letters[-1]   

print("Third element:", third_element)
print("Last element:", last_element)

Third element: c
Last element: e

In [42]:
my_list = [1, 2, 3]
my_tuple = (1, 2, 3)

print("Original list:", my_list)
my_list.append(4)  
print("List after appending 4:", my_list)

print("Original tuple:", my_tuple)
try:
    my_tuple[2] = 9  
except TypeError as e:
    print("Error:", e)

Original list: [1, 2, 3]
List after appending 4: [1, 2, 3, 4]
Original tuple: (1, 2, 3)
Error: 'tuple' object does not support item assignment

In [43]:
num = (1, 2, 3, 4)
try:
    num[2] = 9
except TypeError as e:
    print("Error when trying to modify tuple:", e)

Error when trying to modify tuple: 'tuple' object does not support item assignment

<p style="color:blue; font-size:25px; font-family: sansirf; text-align:left;">Dictionary</p>

<p style="color:blue; font-size:25px; font-family: sansirf; text-align:left;">Dictionary Operation </p>

In [11]:
Fd = {
    'one': 'aik',
    'three': 'teen',
    'ten': 'das',
    'fifteen': 'pandra'
}

In [12]:
print("Fd (Dictionary):", Fd)

Fd (Dictionary): {'one': 'aik', 'three': 'teen', 'ten': 'das', 'fifteen': 'pandra'}

In [13]:
print("Fd['one']:", Fd['one'])

Fd['one']: aik

In [14]:
print("Fd['ten']:", Fd['ten'])

Fd['ten']: das

In [15]:
del Fd['three']
print("After deleting 'three':", Fd)

After deleting 'three': {'one': 'aik', 'ten': 'das', 'fifteen': 'pandra'}

In [16]:
print("Length of Fd:", len(Fd))

Length of Fd: 3

In [17]:
print("Keys in Fd:", Fd.keys())

Keys in Fd: dict_keys(['one', 'ten', 'fifteen'])

In [18]:
print("Values in Fd:", Fd.values())

Values in Fd: dict_values(['aik', 'das', 'pandra'])

In [19]:
print("Fd.items():", Fd.items())

Fd.items(): dict_items([('one', 'aik'), ('ten', 'das'), ('fifteen', 'pandra')])

In [20]:
print("'one' in Fd:", 'one' in Fd)
print("'two' in Fd:", 'two' in Fd)

'one' in Fd: True
'two' in Fd: False

In [22]:
alias['three'] = '3'  
print("Alias after modification:",alias)
print("Original dictionary after alias modification:", Fd)
copy['three'] = '3'   
print("Copy after modification:", copy)
print("Original dictionary after copy modification:", Fd)

NameError: name 'alias' is not defined

# 2 Built-in Dictionary Functions

In [23]:
my_dict = {
    'name': 'rehan',
    'age': 20,
    'city': 'Peshawar'
}

In [24]:
print("Original my_dict:", my_dict)
my_dict.clear()     
print("my_dict after clear():", my_dict)

Original my_dict: {'name': 'rehan', 'age': 20, 'city': 'Peshawar'}
my_dict after clear(): {}

In [26]:
my_dict = {
    'name': 'rehan',
    'age': 20,
    'city': 'Peshawar'
}
print("Getting 'name' using get():", my_dict.get('name'))
print("Getting 'nonexistent' using get():", my_dict.get('nonexistent'))

Getting 'name' using get(): rehan
Getting 'nonexistent' using get(): None

In [27]:
print("Items in my_dict:", my_dict.items())

Items in my_dict: dict_items([('name', 'rehan'), ('age', 20), ('city', 'Peshawar')])

In [28]:
print("Keys in my_dict:", my_dict.keys())

Keys in my_dict: dict_keys(['name', 'age', 'city'])

In [29]:
print("Values in my_dict:", my_dict.values())

Values in my_dict: dict_values(['rehan', 20, 'Peshawar'])

<p style="color:blue; font-size:25px; font-family: sansirf; text-align:left;">List Comprehension</p>

In [30]:
squares = []
for x in range(10):
    squares.append(x * x)

print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [31]:
squares = [x * x for x in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [32]:
squares = [(x + 1) for x in range(10)]
print(squares)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [33]:
even_squares = [x * x for x in range(10) if x % 2 == 0]
print(even_squares)

[0, 4, 16, 36, 64]

In [34]:
even_squares = []
for x in range(10):
    if x % 2 == 0:
        even_squares.append(x * x)

print(even_squares)

[0, 4, 16, 36, 64]

<p style="color:blue; font-size:25px; font-family: sansirf; text-align:left;">Dictionary Comprehension</p>

In [35]:
squares_dict = {x: x * x for x in range(5)}
print(squares_dict)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [36]:
even_squares_dict = {x:x * x for x in range(10) if x % 2 == 0}
print(even_squares_dict)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

<p style="color:blue; font-size:25px; font-family: sansirf; text-align:left;">Encoureging </p>

In [37]:
my_list = ['spam!', 1, ['Brie', 'Roquefort', 'Pol le Veq'], [1, 2, 3]]

for item in my_list:
    try:
        print(f"Length of {item}: {len(item)}")
    except TypeError:
        print(f"{item} is not a type that has a length.")

Length of spam!: 5
1 is not a type that has a length.
Length of ['Brie', 'Roquefort', 'Pol le Veq']: 3
Length of [1, 2, 3]: 3

In [ ]:
import csv
with open(r'C:\Users\Acer\Documents\Result_CSV (1).csv', mode='r') as file:
    csv_reader = csv.reader(file)
    for row in csv_reader:
        print(row)

# NAME: MUHAMMAD REHAN.
# REG NO: 23JZELE0522.
# SECTION: A